.MedicalDevicesServicesSection {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #dee2e6;
}

.MedicalDevicesServicesTitle {
  font-size: var(--fs-2);
  font-weight: 600;
  text-align: center;
  font-family: var(--headingFF);
  margin-bottom: 30px;
  color: #333;
}

.MedicalDevicesServicesParagrapgh {
  color: var(--textDark);
  line-height: 1.6;
}

.FormsContainer {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.imageSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.imageBox {
  flex: 1;
  min-width: 550px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.imageWrapper {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: contain; /* Ensure full image visibility */
  background-repeat: no-repeat;
  border-radius: 10px;
}

.licenseFeesContainer {
  background-color: #f8f9fa;
  padding-top: 3em;
}
.manufacturerImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.howToApply {
  background-color: #f8f9fa;
}

.tableContainer {
  flex: 1;
  max-width: 100%;

  margin-top: var(--bs-gutter-y);
}
.imagesFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  font-weight: 600;
  font-size: var(--fs-2);
  font-family: var(--headingFF);
  color: var(--primary);
  margin-bottom: 20px;
}

.imageParagraph {
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 20px;
  color: var(--textDark);
}

.imgContainer {
  width: 100%;
  max-width: 600px; /* Ensures it doesn’t stretch too much */
  height: auto;
  min-height: 550px; /* Ensures it is visible */
  background-image: url("./../../../public/medical-devices-chart.png");
  background-position: center;
  background-size: contain; /* Ensures full image is visible */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.image3 {
  background-image: url("./../../../public/manufacture.png");
}
.validityInfoContainer {
  background: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.importantDocumentsContainer {
  background-color: #f8f9fa;
}

.TimeLineParagrapgh {
  text-align: center;
  color: var(--textDark);
}

.bigNotesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
 
  margin-bottom: 30px;
}

.bigNotes {
  width: 48%;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.bigNotesHeading {
  margin-bottom: 15px;
  text-align: left;
  font-size: var(--fs-5);
  font-weight: 700;
  color: #343a40;
}

.bigNotesParagraph {
  line-height: 1.4;
  font-size: var(--fs-regular);
  max-height: 150px; /* Default height */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  color: #495057;
  text-align: justify;
}

.bigNotesParagraph.expanded {
  max-height: 1000px; /* Expand smoothly */
}

.readMoreButton {
  display: block;
  margin: 20px auto 0;
  background-color: var(--primaryLight);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.readMoreButton:hover {
  background-color: var(--primary);
}

/* responsive design  */

@media (max-width: 991px) {
  .tableContainer {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .licensingFormContainer {
    gap: 30px;
  }
  .bigNotes {
    width: 100%;
  }
  .mainTitle {
    display: none;
  }
  .imageSection {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .tableContainer {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .imageSection {
    flex-wrap: nowrap;
  }
  .imageWrapper {
    width: 90%;
  }
  .imageBox {
    min-width: 430px;
  }
}

@media (min-width: 768px) {
  .tableContainer {
    flex: 0 0 auto;
    width: 100%;
  }
  
}

@media (max-width: 768px) {
  .MedicalDevicesServicesTitle {
    font-size: var(--fs-3);
  }
  .licensingFormContainer {
    gap: 20px;
  }

  .imageBox {
    min-width: 450px;
  }
  .imgContainer {
    max-width: 90%;
    min-height: 450px;
  }
  .imageWrapper {
    height: 250px;
  }
  .mainTitle {
    font-size: var(--fs-3);
  }
}

@media (min-width: 576px) {
  .tableContainer {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .MedicalDevicesServicesTitle {
    font-size: var(--fs-4);
  }

  .MedicalDevicesServicesParagrapgh {
    font-size: var(--fs-small);
  }
  .TimeLineParagrapgh {
    font-size: var(--fs-regular);
  }
  .imgContainer {
    max-width: 100%;
    min-height: 300px;
  }
  .bigNotesHeading {
    font-size: var(--fs-7);
  }
  .bigNotesParagraph {
    font-size: var(--fs-small);
  }
  .mainTitle {
    font-size: var(--fs-4);
  }
}

@media (max-width: 480px) {
  .imageWrapper {
    height: 200px;
  }
  .imageBox {
    min-width: 250px;
  }

  .imageTitle {
    font-size: var(--fs-large);
    font-family: var(--headingFF);
  }

  .imageParagraph {
    font-size: var(--fs-small);
  }
}
