.testimonialSection {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.title {
  font-size: 28px;
  color: var(--secondary);
  font-family: var(--headingFF);
  margin-bottom: 10px;
}

.subtext {
  color: #666;
  margin-bottom: 2rem;
}

.slider {
  margin-bottom: 20px;
}

.card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}


.userImage img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.quote {
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
  margin: 10px 0;
}

.quoteIcon {
  font-size: 1.5rem;
  color: var(--secondary);
}

.name {
  color: var(--secondaryLight);
  font-weight: bold;
  margin: 10px 0 5px;
}

.role {
  font-size: 0.9rem;
  color: #777;
}

/* Dots */
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: var(--secondary);
}
