.drugsLicenseServiceSection {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.drugsLicenseServiceTitle {
  font-size: var(--fs-2);
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}
.drugsLicenseServiceParagraph {
  color: var(--textDark);
  line-height: 20px;
}

.drugsType{
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.drugsInnnercontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-in-out forwards;
  transition: all 0.3s ease-in-out;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.drugsTypeContainer,
.drugsAccordionContainer {
  flex: 1;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
/* Responsive Design */

@media (min-width: 768px) {
  .drugsTypeContainer,
  .drugsAccordionContainer {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .drugsLicenseServiceTitle {
    font-size: var(--fs-3);
  }
  .drugsInnnercontainer {
    gap: 20px;
  }
}

@media (min-width: 576px) {
  .drugsTypeContainer,
  .drugsAccordionContainer {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .drugsLicenseServiceTitle {
    font-size: var(--fs-4);
  }
  .drugsLicenseServiceParagraph {
    font-size: var(--fs-regular);
  }
}


@media (min-width: 992px) {
  .drugsTypeContainer,
  .drugsAccordionContainer {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 991px) {
  .drugsTypeContainer,
  .drugsAccordionContainer {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .drugsInnnercontainer {
    gap: 30px;
  }
}