/* Main Container */
.howToApply {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.howToApply h2 {
  font-size: var(--fs-2);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--headingFF);
  color: #333;
}

.headingParagraph {
  text-align: center;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  color: #555;
  text-align: left;
}

/* Steps Container */
.stepsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Individual Step */
.stepCard {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 15px;
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.stepCard:hover {
  transform: translateY(-5px);
}

/* Step Icon */
.stepIcon {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 991px) {
  .stepsContainer {
    flex-direction: column;
  }
  .stepCard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .stepIcon {
    width: 40px;
    height: 40px;
  }
  .howToApply h2 {
    font-size: var(--fs-3);
  }
  .paragraph{
    font-size: var(--fs-regular);
  }
}

@media (max-width: 480px) {
  .stepCard {
    flex-direction: row;
    text-align: center;
  }
  .howToApply h2 {
    font-size: var(--fs-4);
  }
  .stepIcon {
    width: 35px;
    height: 35px;
  }
  .headingParagraph {
   font-size: var(--fs-regular);
  }
  .paragraph{
    font-size: var(--fs-small);
  }
}
