@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --primary: #0f495f;
  --primaryLight: #1a66ab;
  --secondary: #96ae39;
  --secondaryLight: #bfdd2f;

  --textDark: #676767;

  --lightBg: #fcfcfc;
  --darkBg: #f2f2f2;

  --white: #ffffff;
  --black: #000000;

  --shadowSm: 0px 0px 3px 1px #0000002e;

  --headingFF: "Poppins", sans-serif;
  --paraFF: "Poppins", sans-serif;

  --fs-1: 40px;
  --fs-2: 28px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 16px;
  --fs-7: 14px;

  --fs-large: 16px;
  --fs-regular: 14px;
  --fs-small: 12px;

  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--paraFF);
}

/* heading, title typo */
.text-1 {
  font-size: var(--fs-1);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

.text-2 {
  font-size: var(--fs-2);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

.text-3 {
  font-size: var(--fs-3);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

.text-4 {
  font-size: var(--fs-4);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

.text-5 {
  font-size: var(--fs-5);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

.text-6 {
  font-size: var(--fs-6);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--headingFF);
}

/* body , desc, label typo */
.text-large {
  font-size: var(--fs-large);
  line-height: 130%;
  font-weight: 400;
  font-family: var(--paraFF);
}

.text-regular {
  font-size: var(--fs-regular);
  line-height: 130%;
  font-weight: 400;
  font-family: var(--paraFF);
}

.text-small {
  font-size: var(--fs-small);
  line-height: 130%;
  font-weight: 400;
  font-family: var(--paraFF);
}

.iBlock {
  display: inline-block;
}

.iFlex {
  display: inline-flex;
}

/* Responsive Container */
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}