.infoCard {
    position: relative;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    background: var(--white);
    box-shadow: -5px 18px 72px 6px #d2d2ea40;
    padding: 25px 20px;
    border-radius: 16px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.infoCard:hover {
    transform: scale(1.05);
    box-shadow: -5px 18px 72px 10px rgba(0, 0, 0, 0.2);
}

/* design icon */

.infoCard img {
    width: auto;
    height: 60px;
    margin-bottom: 10px;
}

/* Card Title */

.cardTitle {
    color: var(--secondary);
    font-size: var(--fs-5);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* card details  */
.cardDetails {
    margin-bottom: 20px;
    font-family: var(--paraFF);
    color: var(--textDark);
    font-size: var(--fs-small);
}

/* card points */

.cardPoints {
    color: var(--black);
    list-style: none;
    text-transform: capitalize;

    li {
        font-size: var(--fs-small);
        margin-bottom: 6px;
        font-weight: 600;
        display: flex;
        align-items: center;

        .cardPointsIcon {
            font-size: inherit;
            margin-right: 10px;
        }
    }
}

.readMore {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: var(--secondaryLight);
    font-size: var(--fs-small);
    font-weight: 500;
    display: flex;
    align-items: center;

    .readmoreIcon {
        font-size: var(--fs-regular);
        margin-left: 5px;
    }

    &:hover {
        color: var(--primary);
    }
}