.regulatorySection {
  padding: 3em 0;
  background: var(--darkBg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.regulatoryTitle {
  font-size: var(--fs-2);
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  font-family: var(--headingFF);
  color: #333;
}

.regulatoryGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;
  max-width: 1200px;
  width: 90%;
  padding: 0 20px;
}

@media (min-width: 1024px) {
  .regulatoryGrid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .regulatoryGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .regulatoryGrid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .regulatoryTitle {
    font-size: var(--fs-3);
  }
}

@media (max-width: 480px) {
  .regulatoryTitle {
    font-size: var(--fs-3);
    margin-bottom: 30px;
  }

  .regulatoryGrid {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}
