.doingCard {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.doCard {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  text-align: left;
  transition: all 0.3s ease;
  /* max-width: 380px; */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

}

.doList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.doListItem {
  font-size: var(--fs-large);
  color: #333;
  margin: 0.75rem 0;
  line-height: 1.4;
  gap: 10px;
}

.checkMark {
  color: #ee1c15;
  font-weight: bold;
  font-size: 1.2rem;
}

.bloodIcon {
  color: #ee1c15;
  font-size: 1.5rem;
}

/* Fixed doLabel Positioning */
.doLabel {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(
    45deg,
    rgba(179, 0, 0, 0.8),
    rgba(255, 26, 26, 0.8)
  );
  color: white;
  padding: 12px 15px;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  writing-mode: vertical-rl;
  height: 80%;
  z-index: 0; /* Ensures visibility */
}

/* Responsive Fixes */
@media (min-width: 1200px) {
  .doLabel {
    right: -50px;
    height: 85%;
  }
  .doCard {
    max-width: 480px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .doCard {
    width: 100%;
    padding: 30px;
  }

  .doLabel {
    right: -40px;
    font-size: var(--fs-regular);
    padding: 12px;
    height: 75%;
  }

  .doListItem {
    font-size: var(--fs-regular);
  }
}

@media (max-width: 767px) {
  .doCard {
    padding: 30px;
    width: 90%;
  }

  .doLabel {
    right: -35px;
    font-size: var(--fs-small);
    padding: 10px;
    height: 70%;
  }

  .checkMark {
    font-size: 1rem;
  }

  .bloodIcon {
    font-size: 1.2rem;
  }

  .doListItem {
    font-size: var(--fs-regular);
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .doCard {
    width: 95%;
    padding: 25px;
  }

  .doLabel {
    right: -30px;
    font-size: var(--fs-small);
    padding: 8px;
    height: 65%;
  }

  .bloodIcon {
    font-size: 1rem;
  }

  .doListItem {
    font-size: var(--fs-small);
    margin: 0.4rem 0;
  }
}
