.outerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 60px;
  
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .innerContainer {
    flex-direction: row;
  }
}

.left {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subText {
  text-transform: uppercase;
  color: #6b7280;
  font-size: 12px;
  margin-bottom: 10px;
}

.mainHeading {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 15px;
  line-height: 1.3;
  
}

.description {
  color: #4b5563;
  margin-bottom: 30px;
  font-size: 16px;
}

.contactRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  color: #1f2937;
}

.contactRow .material-icons {
  font-size: 20px;
  color: var(--secondary);
}

.formCard {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input,
.textarea {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  color: var(--textDark);
  background-color: #f9fafb;
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
  border-color: #2563eb;
  outline: none;
  background-color: #fff;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #003366, #0056b3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 14px;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitButton:hover {
  transform: scale(1.05);
  color: #fc0;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 991px) {
  .mainHeading {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .mainHeading {
    font-size: 26px;
  }
  .outerWrapper {
    padding: 0;
    margin-bottom: 30px;
  }
  .description {
    font-size: 12px;
  }

  .input,
  .textarea {
    font-size: 14px;
  }
  .formCard {
    padding: 0;
    box-shadow: none;
  }
}
