.chooseUs {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 1em;
}

.headingLicenseFees {
  font-size: var(--fs-2);
  font-weight: 700;
  text-align: center;
}

.feeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin-top: 30px;
}

.offerContainer {
  width: 31%;
  display: flex;
  align-items: flex-start;
  text-align: start;
  padding-top: 1em;
  margin-bottom: 20px;
  gap: 10px;
}

.offerIcon {
  font-size: 21px;
  padding: 15px;
  background-color: #caf0f8;
  border-radius: 50%;
  margin-bottom: 20px;
}

.offerTitleContainer {
  font-size: var(--fs-5);
  margin-bottom: 10px;
  font-weight: 700;
}

.offerParagraph {
  line-height: 1.6;
  font-size: var(--fs-regular);
}

/* Responsive Design  */
@media (max-width: 991px) {
  .offerContainer {
    width: 48%;
  }
  .offerTitleContainer {
    font-size: var(--fs-6);
  }
  .offerParagraph {
    font-size: var(--fs-small);
  }
}

@media (max-width: 768px) {
  .MedicalDevicesServicesTitle {
    font-size: var(--fs-3);
  }
  .feeContainer {
    flex-direction: column;
  }
  .offerContainer {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .offerTitleContainer {
    font-size: var(--fs-7);
  }
  .offerContainer {
    flex-direction: column;
    width: 100%;
  }
  .offerParagraph {
    font-size: var(--fs-small);
  }
}
