/* Google Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/* Section */
.regulatory-section {
    padding: 3em 0;
    background: white;
    color: black;
}

/* Title */
.regulatory-title {
    font-size: var(--fs-2);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Grid */
.regulatory-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default 2 columns */
    gap: 20px;
    padding: 0 15px;
    max-width: 960px;
    margin: 0 auto;
}

/* Card */
.regulatory-card {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    transition: 0.3s;
    text-align: left;
}

.regulatory-card:hover {
    background: #e9ecef;
}

/* Icon */
.regulatory-icon {
    font-size: var(--fs-2);
    color: #003366; /* Changed to Black-Blue */
    margin-right: 15px;
}

/* Regulatory Text */
.regulatory-text {
    font-family: var(--headingFF);
    font-weight: 500; /* Medium weight */
}

/* Responsive Regulatory Text Sizes */
@media (min-width: 992px) {
    .regulatory-text {
        font-size: var(--fs-large);
    }
}

@media (max-width: 992px) {
    .regulatory-text {
        font-size: var(--fs-regular);
    }
}

@media (max-width: 576px) {
    .regulatory-text {
        font-size: var(--fs-small);
    }
    .regulatory-title {
        font-size: var(--fs-4);
       
    }
    .regulatory-icon{
        font-size:var(--fs-4);
    }
}



/* Responsive Design */
@media (max-width: 992px) {
    .regulatory-grid {
        max-width: 100%;
        grid-template-columns: 1fr 1fr; /* 50% width each */
    }
}

@media (max-width: 576px) {
    .regulatory-grid {
        grid-template-columns: 1fr; /* Full width on smaller screens */
    }
}
