.LicenseProcessContainer {
  width: 70%;
    /* width: 60px; */
  /* height: 60px; */
  object-fit: contain;   /* ✅ keeps image proportion */
  /* object-position: center; */
  display: block;
}

.LicenseProcessImages {
  width: 100px;
  height: 100px;
  /* object-fit: cover; */
}

.processParagraph {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .processParagraph {
    font-size: 10px;
  }
  .LicenseProcessImages {
  width: 80px;
  height: 80px;
}
}
