
.DrugsServiceSection{
  background-color: #f8f9fb;
}
.divider {
  /* width: 80%;  */
  height: 2px; 
  background: linear-gradient(to right, #b0b0b0, #e0e0e0); 
  background-color: #edf2fb;

  border-radius: 5px; /* Smooth edges */
}


@media (max-width: 768px) {
  .divider {
    
    height: 1.5px; 
  }
}


@media (max-width: 480px) {
  .divider {

    height: 1px; 
  }
}
