.CoolAccordionWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CoolAccordionItem {
  border-radius: 6px;
  overflow: hidden;
 
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
  gap: 10px;
  font-size: 16px;
}

.icon {
  font-size: 28px;
}

.title {
  flex: 1;
}

.content {
  padding: 0.75rem 1rem 1rem;
  animation: slideDown 0.6s ease-out; /* slower duration and smoother easing */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media(max-width:480px){
  .header {
    font-size: 14px;
  }
  .content{
    font-size: 12px;
  }
}