.accordionItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}

.accordionItem:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color:var(--textDark);
  background: #e1ecf7;
  transition: background 0.3s;
}

.accordionItem.active .accordionHeader {
  background: #0f4c81;
  color: white;
}

.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.accordionItem.active .icon {
  transform: rotate(180deg);
}

.accordionContent {
  overflow: hidden;
  background: #cce5ff;
  border: 1px solid #ddd;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.accordionContent ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 576px) {
  .accordionParagraph {
    font-size: var(--fs-small);
  }

  .accordionHeader {
    font-size: var(--fs-regular);
  }
}
